<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.interoberlin.sugarmonkey"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="de.interoberlin.sugarmonkey.controller.SugarMonkeyController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme.FullScreen" >
        <activity
            android:name="de.interoberlin.sugarmonkey.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme.FullScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Main Menu -->
        <activity
            android:name="de.interoberlin.sugarmonkey.AnimationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.ElementActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.ExampleActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Animation -->
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.animation.ColorActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.animation.RotateActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <!-- Element -->
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.element.ArcActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.element.PathActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.element.PolygonActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.element.PolylineActivity"
            android:label="@string/app_name" >
        </activity>
        <!-- Examples -->
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.DebugActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.LymboActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.MonkeyActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.InteroberlinActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.LevelActivity"
            android:label="@string/app_name" >
        </activity>1    1
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.StomachionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.Stomachion2Activity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
        </activity>
        <activity
            android:name="de.interoberlin.sugarmonkey.view.activities.examples.LogoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"  >
        </activity>
    </application>

</manifest>